#Stelleron_Hunter
pyrofork==2.3.45 
TgCrypto
pyromod==1.5
humanize
schedule
APscheduler
# --- For-Database ------------ #
pyrogram
motor
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiofiles
asyncio
flask
